.solutions {
  padding: 100px 0;

  .heading {
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .blocks {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 25px;
    margin-bottom: 100px;

    @media (max-width: 768px) {
      grid-template: repeat(4, 1fr) / 1fr;
      grid-gap: 0;
      margin-bottom: 20px;
    }

    .block:last-child::after {
      content: none;
    }

    .block {
      display: grid;
      grid-template: 67px auto / 1fr;
      grid-gap: 30px;
      position: relative;
      width: 100%;

      @media (max-width: 768px) {
        grid-template: 157px / 67px auto;
      }
    }

    .svgs {
      display: grid;
      grid-template: 1fr / 62px 1fr;
      grid-gap: 25px;
      align-items: center;

      @media (max-width: 768px) {
        grid-template: 67px 1fr / 1fr;
        justify-items: center;
        grid-gap: 0;
      }

      .lineIndicator {
        width: 100%;
        height: 1px;
        border-top: 3px dotted orange;

        @media (max-width: 768px) {
          height: 100%;
          width: 1px;
          border-top: none;
          border-right: 3px dotted red;
        }
      }
    }

    .block_texts {
      p {
        font-size: 16px;
        line-height: 19px;
      }

      h3 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 8px;
      }
    }
  }
  .projectBlock {
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-content: space-between;
    max-width: 100%;
    padding: 72px 80px 66px 80px;
    background: linear-gradient(97.01deg, orange -4.32%, orangered 89.23%);
    box-shadow: 0 3px 34px rgba(124, 68, 4, 0.4);
    border-radius: 20px;
    color: white;
    overflow: hidden;

    grid-gap: 30px;

    @media (max-width: 768px) {
      width: calc(100% + 42px);
      max-width: 100vw;
      padding: 72px 0;
      margin: 0 -21px;
      grid-template: 1fr 2fr / calc(100% - 42px);
      grid-gap: 50px;
      justify-content: center;
      justify-items: center;
    }

    .titleBlock {
      position: relative;

      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 53px;
        line-height: 66px;

        @media (max-width: 768px) {
          font-size: 38px;
          line-height: 48px;
        }
      }

      p {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 33px;
        opacity: 0.8;
        text-align: center;
      }

      svg {
        position: absolute;
        right: 10%;
      }
    }

    .inputBlock {
      width: 100%;
      display: flex;
      flex-direction: column;
      grid-gap: 16px;
      z-index: 2;
      :global{
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
          height: 50px;
          border-radius: 34px;
          background: orange;
          border: none;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 33px;
          outline: none;  
        }
      }
      input {
        border-radius: 34px;
        padding: 20px 50px;
        border: none;
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-size: 16px;
        line-height: 33px;
        outline: none;
      }
      h5{
        margin-top: 25px;
        margin-left: 10px;
        font-size: 20px;
      }
      .radio{
        align-items: center;
        display: flex;
        margin-left: 10px;
        label{
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 33px;
        }
        .driver{
          margin-left: 20px;
        }
      }

      input::placeholder {
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 33px;
      }

      button {
        padding: 17.5px 0;
        width: 100%;
        max-width: 286px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        background: #ffffff;
        box-shadow: 0 3px 67px rgba(228, 125, 8, 0.4),
          inset 1px 0 8px rgb(0 0 0 / 29%);
        border-radius: 40px;
        border: none;
        cursor: pointer;
        color: orange;

        &:active {
          box-shadow: 0 3px 67px rgba(180, 99, 6, 0.4),
            inset 7px -5px 8px rgba(0, 0, 0, 0.29);
        }

        @media (max-width: 768px) {
          max-width: 100%;
          margin-top: 10px;
        }
      }
    }

    .leftDotted {
      position: absolute;
      left: -48px;
      bottom: 10%;
      z-index: 1;
    }

    .rightDotted {
      position: absolute;
      right: -48px;
      top: 10%;
      z-index: 1;
    }
  }
}
