.services {
  padding: 0 0 100px 0;
}

.heading {
  margin-bottom: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  grid-gap: 70px;

  @media (max-width: 992px) {
    margin-bottom: 24px;
    grid-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .block {
    width: 100%;
    max-width: 562px;
    border-radius: 20px;
    border: 1px solid #e9e9e9;
    padding: 32px;
    color: black;
    transition: all 0.5s ease 0s;

    @media (max-width: 1200px) {
      width: 350px;
    }
  }

  .block:hover {
    color: white;
    box-shadow: 0 3px 34px rgba(228, 141, 10, 0.4);
    background: linear-gradient(97.01deg, orangered -4.32%, red 89.23%);
  }

  img {
    margin-bottom: 38px;
  }

  h2 {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  p {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  a {
    color: #959595;
    text-decoration: none;
    font-feature-settings: 'liga' off;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    transition: all 0.5s ease 0s;
  }

  &:hover a {
    color: white;
  }
}

.sqFill {
  transition: all 0.5s ease 0s;
  fill: red;
}

.sqStroke {
  transition: all 0.5s ease 0s;
  stroke: red;
}

.block:hover .sqFill,
.miniBlock:hover .sqFill {
  fill: red;
}

.block:hover .sqStroke,
.miniBlock:hover .sqStroke {
  stroke: white;
}

.miniBlocks {
  display: flex;
  justify-content: space-between;
  grid-gap: 70px;

  @media (max-width: 1200px) {
    grid-gap: 24px;
  }

  @media (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .miniBlock {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    border: 1px solid #e9e9e9;
    padding: 32px;
  }

  .miniBlock svg {
    margin-bottom: 39px;
  }

  .miniBlock h2 {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  .miniBlock p {
    height: 70px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  .miniBlock a {
    text-decoration: none;
    color: #959595;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: all 0.5s ease 0s;
  }

  .miniBlock:hover {
    color: white;
    box-shadow: 0 3px 34px rgba(233, 183, 20, 0.4);
    background: linear-gradient(97.01deg, orangered -4.32%, red 89.23%);
    transition: all 0.5s ease 0s;
  }

  .miniBlock:hover a {
    color: white;
  }
}
