.home {
  height: 100vh;
  position: relative;
  background: #010000;
  display: flex;
  align-items: center;
  z-index: 1;
@media (max-width:768px){
  height: 425px;
}
@media (max-width:425px){
  height: 230px;
}
@media (max-width:375px){
  height: 210px;
}
@media (max-width:320px){
  height: 175px;
}
  .videoWrapper {
    z-index: 2;
    height: 100%;
    max-width: 100vw;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .videoBgHolder {
      position: relative;

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        background: no-repeat url('/BG.png') center / cover;
      }

      video {
        z-index: 1;
        height: auto;
        width: 100vw;
        opacity: 0.5;
      }
    }
  }
}

.main {
  height: 90%;
  z-index: 3;
  width: 100%;
}

.content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Gilroy', sans-serif;
  padding: 10%;
}

.content h1 {
  max-width: 50%;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 800;
  font-size: 74px;
  line-height: 86px;
  margin-bottom: 36px;
  border-bottom: 9px solid transparent;

  @media (max-width: 992px) {
    max-width: 70%;
    font-size: 56px;
    line-height: 66px;
  }

  @media (max-width: 768px) {
    max-width: 314px;
    font-size: 28px;
    line-height: 34px;
  }

  span {
    border-bottom: 9px solid #3736be;
  }
}

.content h4 {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}


@media all and (max-width: 425px){
  .content{
    h4{
      display: none;
    }
  }
  .main {
    margin-top: 80px;
    height: 0px;
    z-index: 3;
    width: 100%;
  }
}