.mainHeader {
  position: fixed;
  transition: 0.5s;
  z-index: 12;
  padding: 10px 0;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    @media (max-width: 375px) {
      padding: 0 10px;
    }
    button {
      svg {
        path {
          stroke: red;
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    grid-gap: 13px;
    cursor: pointer;
    @media (max-width: 935px) {
      img {
        width: 100px;
        height: 67px;
      }
    }
    .locale {
      display: flex;
      color: white;
      gap: 10px;
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: white;

        option {
          color: black;
        }
        &:hover {
          color: orangered;
        }
      }
    }
  }

  .navs {
    display: flex;
    grid-gap: 21px;
    justify-content: space-between;

    a {
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
    }
  }
}

.mainHeaderBlack {
  .logo h2 {
    color: #ffff;
  }

  .navs {
    a {
      color: #fff;
    }
  }
}

.mainHeaderWhite {
  background: rgba(255, 255, 255, 1);

  .logo {
    .locale {
      color: #000;
      select {
        color: #000;
      }
    }
  }

  .navs {
    a {
      color: #000;
    }
  }
  .links {
    p {
      color: black;
    }
  }
}

.logo_image {
  width: 20px !important;
}

.links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  p {
    color: white;
    cursor: pointer;
    font-weight: 500;
    margin-right: 11px;
    margin-bottom: 0;
    white-space: nowrap;
    position: relative;
    &:hover {
      color: orangered;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 1.7px;
      bottom: 0;
      left: 0;
      background-color: orangered;
      transition: width 0.5s ease;
      border-radius: 1px;
    }

    &:hover::before {
      width: 100%;
    }
  }
  @media (max-width: 835px) {
    display: none;
  }
}

.burger {
  display: none;
  @media (max-width: 835px) {
    display: block;
  }
}

.button {
  width: 140px;
  height: 40px;
  border-radius: 35px;
  background: linear-gradient(97.01deg, orangered -4.32%, red 89.23%);
  color: white;
  &:hover {
    background: linear-gradient(97.01deg, orange -4.32%, orangered 89.23%);
  }
  @media (max-width: 932px) {
    width: auto;
    height: auto;
    padding: 5px 10px;
  }
}
