.mainHeader {
  position: fixed;
  transition: 0.5s;
  z-index: 12;
  padding: 10px 0;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;

    button {
      svg {
        path {
          stroke: red;
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    grid-gap: 13px;
    margin: 0 0 0 -36px;

    @media (max-width: 992px) {
      margin: 0;
    }

    h2 {
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24.056px;
      cursor: pointer;
      &:hover{
        color: red;
      }
      @media (max-width: 992px) {
        font-size: 21.6857px;
      }

      @media (max-width: 768px) {
      }
    }
  }

  .navs {
    display: flex;
    grid-gap: 21px;
    justify-content: space-between;

    a {
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
    }
  }
}

.mainHeaderBlack {
  //background: rgba(0, 0, 0, 1);

  .logo h2 {
    color: #ffff;
  
  }

  .navs {
    a {
      color: #fff;
    }
  }
}

.mainHeaderWhite {
  background: rgba(255, 255, 255, 1);

  .logo {
    h2 {
      color: #000;
    }
  }

  .navs {
    a {
      color: #000;
    }
  }
  .links{
    p{
      color: black
    }
  }
}

.logo_image{
  width: 20px !important;
}

.links{
  width: 50%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  p{
    color: white;
    cursor: pointer;
    font-weight: 500;
    margin-right: 11px;
    &:hover{
      color: red;
    }
  }
  @media (max-width: 800px){
    display: none;
  }
}

.burger{
  display: none ;
  @media (max-width: 800px){
    display: block;
  }
}

.button{
  width: 140px;
      height: 40px;
      border-radius: 35px;
      background-color: red;
      color: white;
      margin-bottom: 20px;
}