@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Rubik:wght@400;500;700&display=swap");
@import "./gilroy/gilroy.css";
html {
  scroll-behavior: smooth;
}

.carousel-control-prev{
  @media(max-width: 425px){
    margin-bottom: 200px !important;
  }
}
.carousel-control-next{
  @media(max-width: 425px){
    margin-bottom: 210px !important;
  }
}
.next{
  @media(max-width: 768px){
    display: none !important;
  }
}
.prev{
  @media(max-width: 768px){
    display: none !important;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 991px) {
    max-width: 100%;
    margin: 0;
    padding: 0 21px;
  }

  @media (max-width: 768px) {
  }
}
.mySwiper {
  width: 100%;
  height: 100%;
  max-width: 849px;
  position: relative;
  padding-bottom: 40px !important;
}
:root {
  --swiper-theme-color: orange !important;
}

.swiper-button-next {
  color: #010000;
}
.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 21px;
}
.swiper-pagination-bullet-active {
  transition: 0.5s;
  width: 50px !important;
  border-radius: 20px !important;
}
.swiper-pagination-bullet {
  transition: 0.5s;
}

@media (max-width: 768px) {
  .mySwiper {
    padding-bottom: 80px !important;
  }
  .sliderWrapper {
    .next,
    .prev {
      position: absolute;
      bottom: 0;
    }

    .swiper-pagination {
      bottom: 21px !important;
    }

    .next {
      right: 0;
    }
  }
}

a,
button {
  outline: none;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

  .MuiOutlinedInput-root{
    height: 50px !important;
    border-radius: 34px !important;
    background: pink !important;
    opacity: 0.5 !important;
    border: none !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 33px !important;
    outline: none !important;  
    margin-top: 4px !important;
  }

.MuiInputLabel-root{
  color: rgba(255, 255, 255, 0.8) !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.MuiInputLabel-root.Mui-focused{
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 17px !important;  
}

.MuiRadio-root.Mui-checked{
  color: white !important;
}
.MuiRadio-root{
  color: white !important;
}

 .solutions_inputBlock__sc7Lc input{
color: black !important;
font-size: 20px !important;
}
.swiper-pagination-bullet{
  background-color: orange !important; 
}

.carousel-indicators [data-bs-target]{
  background-color: orange !important;
  @media (max-width: 425px){
    margin-bottom: 15rem!important;
  }
  @media (max-width: 320px){
    margin-bottom: 18rem!important;
  }
}
.carousel-item span{
  border-radius: 30px !important;
}


.css-1v4ccyo{
  @media (max-width: 425px){
    margin-bottom: 20px !important;
  }
}