.footer {
  background: rgba(13, 13, 13, 1);
  padding: 40px 0;

  @media (max-width: 768px) {
    padding: 0 0 107px 0;
  }
}

.blocks {
  display: flex;
  justify-content: space-between;
  padding: 82px 0 40px;
  color: white;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    grid-gap: 65px;
  }
}

.logoBlock {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.logoBlock h2 {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 30.056px;
  line-height: 41px;
  margin-left: 12px;
}

.logoBlock p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.socialMedia {
  max-width: 90px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.blockFooter {
  display: flex;
  flex-direction: column;
  margin: 0 10px;

  @media (max-width: 768px) {
    align-items: center;
    * {
      text-align: center;
    }
  }
}

.blockFooter:last-child {
  /*width: min-content;*/
}

.blockFooter:first-child {
  flex-basis: 35%;
}

.blockFooter:nth-child(2),
.blockFooter:nth-child(3),
.blockFooter:nth-child(4) {
}

.blockFooter:nth-child(2) a,
.blockFooter:nth-child(3) a,
.blockFooter:nth-child(4) a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

.blockFooter:nth-child(2) h3,
.blockFooter:nth-child(3) h3,
.blockFooter:nth-child(4) h3 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.social {
  max-width: 180px;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerHr {
  border-top: 1px solid rgba(45, 45, 45, 1);
  margin: 35px 0;
}

.footerText {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}
