.content-head-main-wrapper {
  width: 100%;
  display: grid;
  align-items: center;

  &__child-wrapper {
    width: min-content;
    display: grid;
    grid-template: 1fr 18px / auto;

    @media (max-width: 420px) {
      width: 100%;
    }

    &-centered {
      justify-self: center;
    }

    &__title {
      width: max-content;
      font-weight: bold;
      font-size: 38px;

      @media (max-width: 992px) {
        font-size: 34px;
      }

      @media (max-width: 768px) {
        width: 100%;
        font-weight: bold;
        font-size: 30px;
      }
    }

    &__title-centered {
      text-align: center;
    }

    &__line-wrapper {
      display: grid;
      grid-template: 1fr / auto 14px;
      grid-column-gap: 5px;
      align-items: center;
      justify-items: center;

      &__line {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        align-self: center;
        justify-self: center;
        background: linear-gradient(90.01deg, orange 3.45%, orangered 99.98%);
      }

      &__circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        background: linear-gradient(97.01deg, orange -4.32%, orange 89.23%);
      }
    }
  }
}
